torch
transformers
pymupdf
chromadb
spacy
numpy
sentence-transformers
langchain_text_splitters
accelerate
rank_bm25
PyMuPDF
rapidfuzz
coqui-tts
pydub
langchain
python-pptx
networkx
pandas
python-igraph
leidenalg
tqdm
scikit-learn

# Run also this in the terminal for spacy
# python -m spacy download en_core_web_sm
